<div class="container-fluid bg-black">
    <div class="row">
        <div class="col-xs-12 padding-0">
            <div data-smart-include="app/layout/partials/header.tpl.html" class="placeholder-header"></div>
        </div>
    </div>
    <div class="row padding-top-10">
        <div class="col-sm-6">
            <section widget-grid id="widget-grid-categories">
                <div class="row">
                    <article class="col-sm-6" ng-repeat="category in categories">
                        <div jarvis-widget class="jarviswidget jarviswidget-color-orangeDark jarviswidget-sortable margin-bottom-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" role="widget" style="">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>{{category.category_name}}</h2>
                            </header>
                            <div class="padding-5">
                                <div class="widget-body padding-bottom-0">
                                    <img class="img-responsive" ng-src="./styles/img/temp/categories/{{category.id}}.jpg">
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
        <div class="col-sm-6">
            <section widget-grid id="widget-grid-ads">
                <div class="row">
                    <article class="col-sm-6">
                        <div jarvis-widget class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" role="widget" style="">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>Ads1</h2>
                            </header>
                            <div>
                                <div class="widget-body">
                                    <img class="img-responsive width-100p" ng-src="./styles/img/temp/ads/1.jpg">
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-6">
                        <div jarvis-widget class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" role="widget" style="">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>Ads2</h2>
                            </header>
                            <div>
                                <div class="widget-body">
                                    <img class="img-responsive width-100p" ng-src="./styles/img/temp/ads/2.jpg">
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="col-sm-12">
                        <div jarvis-widget class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" role="widget" style="">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>Ads2</h2>
                            </header>
                            <div>
                                <div class="widget-body">
                                    <img class="img-responsive width-100p" ng-src="./styles/img/temp/ads/4.jpg">
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>
</div>