.margin-0 {
    margin: 0;
}

.padding-0 {
    padding: 0;
}

.height-100vh {
    height: 100vh;
}

.height-50vh {
    height: 50vh;
}

.width-100p {
    width: 100%;
}

.position-fixed {
    position: fixed;
}

body:not(.menu-on-top).desktop-detected {
    min-height: inherit !important;
}