/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

#search-fld {
    width: 300px;
}

.border-0 {
    border: 0 !important;
}

.page-footer {
    height: 30px;
    padding: 5px;
    text-align: center;
    border-top: 1px solid #CECECE;
    background: #2a2725;
    width: 100%;
    position: relative;
    display: block;
    bottom: 0;
}