<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin"> </span>
    </div>

    <span id="extr-page-header-space"> <a
           ui-sref="register" class="btn btn-danger">Create account</a> </span>

</header>
<div id="main" role="main"  class="animated fadeInDown">
    <img class="width-100p height-100vh position-fixed" ng-src="./styles/img/home-bg.jpg">
    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 padding-top-40">
                <div class="well no-padding">
                    <form action="#/dashboard" id="login-form" class="smart-form client-form"  data-smart-validate-form>
                        <header>
                            Sign In
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">E-mail</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="email" name="email"
                                           data-smart-validate-input
                                           data-required
                                           data-email
                                           data-message-required="Please enter your email address"
                                           data-message-email="Please enter a VALID email address">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        Please enter email address/username</b></label>
                            </section>
                            <section>
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                   <input type="password" name="password"
                                          data-smart-validate-input
                                          data-required
                                          data-minlength="3"
                                          data-maxnlength="20"
                                          data-message="Please enter your email password">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                                        your password</b> </label>

                                <div class="note">
                                    <a ui-sref="forgotPassword">Forgot password?</a>
                                </div>
                            </section>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember" checked>
                                    <i></i>Stay signed in</label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary">
                                Sign in
                            </button>
                        </footer>
                    </form>
                </div>
                <ul class="list-inline text-center">
                    <li>
                        <a href-void class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href-void class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
                <section widget-grid id="widget-grid-ads">
                    <div class="row">
                        <article class="col-xs-6">
                            <div jarvis-widget class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable margin-bottom-10" data-widget-editbutton="true" data-widget-deletebutton="false">
                                <div>
                                    <div class="widget-body">
                                        <img class="img-responsive width-100p" ng-src="./styles/img/temp/ads/1.jpg">
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-xs-6">
                            <div jarvis-widget class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable margin-bottom-10" data-widget-editbutton="true" data-widget-deletebutton="false">
                                <div>
                                    <div class="widget-body">
                                        <img class="img-responsive width-100p" ng-src="./styles/img/temp/ads/2.jpg">
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="col-xs-12">
                            <div jarvis-widget class="jarviswidget jarviswidget-color-greenDark jarviswidget-sortable margin-bottom-10" data-widget-editbutton="true" data-widget-deletebutton="false">
                                <div>
                                    <div class="widget-body">
                                        <img class="img-responsive width-100p" ng-src="./styles/img/temp/ads/4.jpg">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>