<div class="page-footer">
    <div class="row">
        <div class="col-xs-12">
            <span class="txt-color-white">
                <a class="txt-color-white" href="http://hotel.dtgapp.com/tac.html" target="_blank">{{getWord('Terms And Conditions')}}</a> |
                <a class="txt-color-white" href="#">{{getWord('Home')}}</a> |
                <a class="txt-color-white" href="http://hotel.dtgapp.com/privacyPolicy.html" target="_blank">{{getWord('Privacy Policy')}}</a>
            </span>
        </div>
    </div>
</div>